<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Store List</h1>
        <a href="/gianhang/themgianhang" class="btn btn-success">Add Store</a>
        <a href="/xem" class="btn btn-info">Product List</a>
        <h1 class="mt-4"> </h1>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th> <!-- New column for action buttons -->
                </tr>
            </thead>
            <tbody>
                <% data1.forEach(function(item) { %>
                    <tr>
                        <td><%= item.idgianhang %></td>
                        <td><%= item.tengianhang %></td>
                        <td>
                            <a href="/gianhang/suagianhang/<%= item.idgianhang %>" class="btn btn-primary">Edit</a> <!-- Edit button -->
                            <a href="/gianhang/xoagianhang/<%= item.idgianhang %>" class="btn btn-danger">Delete</a> <!-- Delete button -->
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <!-- Bootstrap JS và các thư viện liên quan -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
